<div *ngIf="movieInfo" class="card p-3">
  <div class="card-img-wrapper">
    <a>
      <img *ngIf="movieInfo.tmdbId" class="card-img-top" src="{{ movieInfo.posterPath }}">
      <img *ngIf="!movieInfo.tmdbId" class="card-img-top" src="../../assets/images/default.png">
    </a>
  </div>

  <div class="card-body p-0 pt-2">
    <h5 class="card-title">{{ movieInfo.title }}</h5>

    <svg *ngIf="movieInfo.trailerExists" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="green" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
    </svg>

    <svg *ngIf="!movieInfo.trailerExists" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="red" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>

    <div *ngIf="!movieInfo.trailerExists" class="form-check float-right">
      <input type="checkbox" class="form-check-input" style="width: 20px; height: 20px;" (click)="addTrailerToDownloadArray(movieInfo)">
    </div>
  </div>
</div>
