<div class="container mt-5">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label>Media Directory</label>
      <input name="mediaDirectory" ngModel class="form-control" placeholder="Enter local media directory path" required>
    </div>
    <div class="form-group">
      <label>Trailer Language</label>
      <input name="trailerLanguage" ngModel class="form-control" placeholder="Trailer language (e.g. en-US, de-DE) Defaults to en-US">
      <!-- <font  size="1"> (Language-Country, e.g. en-US, de-DE)</font> -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
